.callout-cards {
  overflow: visible;

  .card {
    background-color: $card-background-color;
    background-image: url('../images/card-background.png');
    background-position: right;
    background-repeat: no-repeat;
    border-radius: 10px;
    color: $card-font-color;
    padding: 15px;
    width: 370px;

    &__title {
      font-family: $card-title-font-family;
      font-size: 1.375rem;
    }

    &__description {
      color: $card-description-font-color;
      font-family: $card-description-font-family;
      font-size: 16px;
      line-height: 1.688rem;
      margin: 10px 0;
      max-width: 60%;
    }

    &__link {
      color: $card-anchor-font-color;
      font-family: $card-anchor-font-family;
      font-size: 1.063rem;
      font-weight: 700;
      text-decoration: none;
    }
  }
}
