.footer__mailchimp {

  .container  {
    padding: 0;
  }

  &-wrapper {
    background-color: $footer-mailchimp-background-color;
    margin: -40px 0 0;
    padding: 25px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.50);
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;
    border-radius: 0;

      @include respond(laptop) {
        flex-direction: row;
        border-radius: 8px;
      }
  }

  &-content {
    width: 100%;
  }

  &-title {
    font-family: $footer-mailchimp-title-font-family;
    margin-bottom: 10px;
  }

  &-description {
    font-family: $footer-mailchimp-description-font-family;
  }

  &-form {
    padding-top: 20px;
    width: 100%;

    form {
      display: flex;
      gap: 20px;
      flex-direction: column;

      @include respond(laptop) {
        flex-direction: row;
        justify-content: center;
        padding-bottom: 15px;
      }
    }

    .button-primary {
      padding: 0.8rem 2rem;
    }
  }

  &-input {
    padding: 1rem;
    border-radius: 8px;
    border: none;
    min-width: 300px;
    font-size: 1rem;
  }
}


