.header__mobile-menu {
  position: fixed;
  top: 0;
  right: -100%; // Start buiten beeld
  width: 300px;
  height: 100%;
  background: $mobile-menu-background; // Pas kleur aan
  box-shadow: -2px 0 5px rgba(0, 0, 0, .2);
  transition: right 0.3s ease-in-out;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1000;

  &-list {
    width: 100%;
  }

  &-header {
    padding: 20px 0;
    display: flex;
    width: 100%;
    justify-content: end;
  }

  &-item {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ffffff24;
  }

  &-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: $mobile-menu-font-family;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }

  &-close {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }

  &.active {
    right: 0;
  }
}
