.header__mobile-menu {
  align-items: flex-start;
  background: $mobile-menu-background;
  box-shadow: $mobile-menu-box-shadow;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 30px;
  position: fixed;
  right: -100%; // Start buiten beeld
  top: 0;
  transition: right .3s ease-in-out; // Slide in beeld
  width: 300px;
  z-index: 1000;

  &-list {
    width: 100%;
  }

  &-header {
    display: flex;
    justify-content: end;
    padding: 20px 0;
    width: 100%;
  }

  &-item {
    border-bottom: 1px solid $mobile-menu-list-divider-color;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  &-link {
    color: $mobile-menu-font-color;
    display: flex;
    font-family: $mobile-menu-font-family;
    font-size: 18px;
    font-weight: 500;
    justify-content: space-between;
    text-decoration: none;
  }

  &-close {
    background: none;
    border: 0;
    color: $mobile-menu-close-color;
    cursor: pointer;
    font-size: 30px;
  }

  &.active {
    right: 0;
  }
}
