.header__top-bar {
  background-color: $top-bar-background-color;
  padding: 10px 0;

  &-link {
    color: $top-bar-font-color;
    font-family: $top-bar-font-family;
    text-decoration: none;

    &:hover {
      cursor: pointer;

      .fa-maximize {
        font-weight: 900;
      }
    }
  }

  &-list {
    justify-content: end;
  }

  &-item {
    margin-right: 1.063rem;

    &:last-of-type {
      margin-right: 0;
    }

    i {
      font-size: 1.2rem;
    }

    &--temp,
    &--wind,
    &--water-temp,
    &--maximize {
      font-weight: bold;
    }
  }
}