// --------------------------------------------------
// contexts

@mixin when-inside($selector) {
  #{$selector} & {
    @content;
  }
}

// --------------------------------------------------
// aspect ratio
// e.g. @include aspect-ratio(16,9);
// expects child to have class of `.content` (could be changed to a wildcard `*`)

@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: ($height / $width) * 100%;
    width: 100%;
  }

  > .content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@mixin respond($device) {
  @if $device == phone {
    @media (min-width: 576px) { @content; } // Small smartphones (e.g., iPhone SE, Galaxy S)
  } @else if $device == tablet {
    @media (min-width: 768px) { @content; } // Tablets (e.g., iPad, Galaxy Tab)
  } @else if $device == laptop {
    @media (min-width: 1024px) { @content; } // Small laptops and large tablets
  } @else if $device == desktop {
    @media (min-width: 1280px) { @content; } // Standard desktop screens
  } @else if $device == widescreen {
    @media (min-width: 1600px) { @content; } // Large monitors, ultrawide screens
  }
}


