$top-bar-background-color: #e9f3fa;
$top-bar-font-color: #31589e;
$top-bar-font-family: "Roboto", serif;

$nav-bar-background-color: #005d99;
$main-nav-color: #fff;
$main-nav-font-family: "Montserrat", serif;
$main-nav-font-weight: 600;
$main-nav-font-size: 1rem;
$main-nav-search-color: #fff;

$mobile-menu-background: #005d99;
$mobile-menu-font-family: $main-nav-font-family;

$overlay-background-color:  rgba(0, 0, 0, .5);
